<body>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Perfil de Messi
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-img src="assets/messi-profile.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title class="custom-title">Lionel Messi</ion-card-title>
        <ion-card-subtitle class="custom-subtitle">Delantero</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-label class="custom-label">Fecha de Nacimiento</ion-label>
            <ion-note slot="end" class="custom-note">24 de junio de 1987</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Lugar de Nacimiento</ion-label>
            <ion-note slot="end" class="custom-note">Rosario, Argentina</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Altura</ion-label>
            <ion-note slot="end" class="custom-note">1.70 metros</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Peso</ion-label>
            <ion-note slot="end" class="custom-note">Aproximadamente 72 kg</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Pie Preferido</ion-label>
            <ion-note slot="end" class="custom-note">Izquierdo</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Clubes Destacados</ion-label>
            <ion-note slot="end" class="custom-note">FC Barcelona, Paris Saint-Germain</ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="custom-label">Logros Individuales</ion-label>
            <ion-note slot="end" class="custom-note">Balón de Oro, Máximo goleador de Argentina</ion-note>
          </ion-item> 
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</body>
