<body>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Perfil de Lionel Andres Messi Cuccitini
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-img src="assets/messi-profile.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Lionel Messi</ion-card-title>
      <ion-card-subtitle>El mejor jugador de toda la historia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lionel Andrés Messi Cuccittini (Rosario, 24 de junio de 1987), conocido como Leo Messi, es un futbolista argentino que juega como delantero en el Inter Miami de la Major League Soccer. Considerado como uno de los mejores de todos los tiempos,9​ es el único futbolista en la historia que ha ganado, entre otras distinciones, siete veces el Balón de Oro, siete premios de la FIFA al mejor jugador del mundo, seis Botas de Oro y dos Balones de Oro de la Copa Mundial de Fútbol. En 2020, se convirtió en el primer futbolista y el primer argentino en recibir un premio Laureus y fue incluido en el Dream Team del Balón de Oro.
    </ion-card-content>
  </ion-card>
</body>
